* {
  box-sizing: border-box;
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 212px;
  min-width: 0;
}

[role="tabpanel"] {
  padding: 5px;
  border: 2px solid hsl(219deg 1% 72%);
  border-radius: 0 5px 5px;
  background: hsl(220deg 43% 99%);
  min-height: 10em;
  width: 100%;
  overflow: auto;
}

[role="tabpanel"].is-hidden {
  display: none;
}

[role="tabpanel"] p {
  margin: 0;
}

.tabs {
  position: relative;
}

.tabs__navigation {
  position: relative;
  overflow-x: hidden;
}

/* .tabs__next,
.tabs__prev {
  position: absolute;
  top: 0;
  z-index: 3;
}

.tabs__next {
  right: 0;
}

.tabs__prev {
  left: 0;
} */